<mat-toolbar class="elevation toolbar">
  <span class="toolbar__title">Users Stories</span>
  <div class="toolbar__flex-spacer"></div>
  <a mat-list-item routerLink="/cars" class="toolbar__nav-link">Cars</a>
  <button mat-button (click)="onAddNewCar()" class="toolbar__nav-link" title="Ajouter une voiture">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="sub-banner">
  <div class="sub-banner__sub-banner"></div>
  <div *ngIf="$totalCarCreated$ | async as total" class="sub-banner__informations">
    <div>
      <span class="toolbar__title">Total: voiture créé: {{ total.length }}</span>
    </div>
    <div *ngIf="oldestCar$ | async as oldCar">
      <span class="toolbar__title">
        Voiture la plus ancienne : {{ oldCar.immatriculation }} - {{ oldCar.nom }} - {{ oldCar.couleur }} -
        <ng-container *ngIf="dateReformated$ | async as dataFormated">
          <span timeago [date]="dataFormated" [live]="live"></span>
        </ng-container>
      </span>
    </div>
    <div *ngIf="meteo$ | async as meteo" class="meteo-block">
      <span class="toolbar__title meteo-block__meteo-text">Paris</span>
      <img src="{{ meteo.condition.icon }}" alt="La météo" class="meteo-block__meteo-img" />
      <span class="toolbar__title meteo-block__meteo-text">{{ meteo.temp_c }}°</span>
    </div>
  </div>
</div>
